@charset "utf-8";
/* CSS Document */
a:link {
	color: #03C;
}
a:visited {
	color: #03C;
}
a:hover {
	color: #F90;
}
a:active {
	color: #F90;
}
body, html, td, p, div, h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #666;
	line-height: 140%;
	font-weight: normal;
}
body, html {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
}
h1 { 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	color: #FF9900;
}
body {
	margin-top: 0px;
}
td { text-align: left; vertical-align: top; }
.white, .white:link, .white:visited { color: white; }
.navlinkcontainer { border-left: 2px solid #FF9900; padding-left: 4px;  }
.navlink:link, .navlink, .navlink:visited  { 
	color: #999;
	font-size: 11pt;
	text-decoration: none;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	}
.navlink:hover, .navlink:active  { 
	color: #FF9900;
	font-size: 11pt;
	text-decoration: none;
	border-left: 2px solid #FF9900; 
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #FF9900;
	}
.navbtn:link, .navbtn:visited, .navbtn {
	color: #999;
	font-size: 14pt;
	text-decoration: none;
	border: none;
	padding: 5px;
}
.navbtn:hover, .navbtn:active {
	padding: 4px;
	border: 1px solid #FF9900;
	color: #FF9900;
}
img { border: none; }
