<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" timeout="30" />
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <urlCompression doDynamicCompression="false" doStaticCompression="false" />
    <staticContent>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".m4v"/>
      <remove fileExtension=".f4v"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".f4v" mimeType="video/f4v" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.roessner\.net$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.roessner.net/{R:1}" />
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        <rule name="00_dev" patternSyntax="Wildcard" stopProcessing="true">
          <match url="dev/*" ignoreCase="false" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="00_clients" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="clients.html" ignoreCase="false" />
          <action type="Redirect" url="/clients/" />
        </rule>
        <rule name="01_becton_dickinson" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/01_becton_dickinson.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-bd-2008/" />
        </rule>
        <rule name="02_wyeth_2008" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/02_wyeth_2008.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-wyeth-2008/" />
        </rule>
        <rule name="03_dun_and_bradstreet" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/03_dun_and_bradstreet.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-dun-bradstreet-2008/" />
        </rule>
        <rule name="04_movado_2007" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/04_movado_2007.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-movado-2007/" />
        </rule>
        <rule name="05_pharmacopeia" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/05_pharmacopeia.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-pharmacopeia-2006/" />
        </rule>
        <rule name="06_centennial" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/06_centennial.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-centennial-2007/" />
        </rule>
        <rule name="07_celgene" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/07_celgene.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-celgene-2005/" />
        </rule>
        <rule name="08_kcs" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/08_kcs.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-kcs-2006/" />
        </rule>
        <rule name="09_mw" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ar/09_mw.html" ignoreCase="false" />
          <action type="Redirect" url="/annual-reports-middlesex-water-2007/" />
        </rule>
        <rule name="10_honeywell" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="video/10_honeywell.html" ignoreCase="false" />
          <action type="Redirect" url="/honeywell-video-production-design/" />
        </rule>
        <rule name="11_bd_web" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="web/bd.html" ignoreCase="false" />
          <action type="Redirect" url="/bd-online-annual-report-web-design/" />
        </rule>
        <rule name="12_mw_web" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="web/middlesex_water.html" ignoreCase="false" />
          <action type="Redirect" url="/middlesex-water-company-web-design/" />
        </rule>
        <rule name="13_web_bcn" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="web/bcn.html" ignoreCase="false" />
          <action type="Redirect" url="/bcn-telecom-web-site-design/" />
        </rule>
        <rule name="14_web_fhcds" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="web/fhcds.html" ignoreCase="false" />
          <action type="Redirect" url="/far-hills-country-day-school-web-design/" />
        </rule>
        <rule name="15_mkt_bcn" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="mkt/bcn_telecom.html" ignoreCase="false" />
          <action type="Redirect" url="/bcn-telecom-web-site-design/" />
        </rule>
        <rule name="16_ad_bcn" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="ad/bcn.html" ignoreCase="false" />
          <action type="Redirect" url="/bcn-telecom-ad-campaign/" />
        </rule>
        <rule name="17_mkt_bionj" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="mkt/bio_nj.html" ignoreCase="false" />
          <action type="Redirect" url="/bionj-marketing-folder/" />
        </rule>
        <rule name="18_mkt_umdnj" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="mkt/umd.html" ignoreCase="false" />
          <action type="Redirect" url="/umdnj-annual-report-design-and-marketing/" />
        </rule>
        <rule name="19_mkt_ctcollege" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="mkt/ct_college.html" ignoreCase="false" />
          <action type="Redirect" url="/connecticut-college-marketing-design/" />
        </rule>
        <rule name="20_mkt_fhcdsmagazine" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="mkt/fhcds_magazine.html" ignoreCase="false" />
          <action type="Redirect" url="/newsletters-fhcds-magazine-design/" />
        </rule>
        <rule name="21_nui_employee_newsletter" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="mkt/newsletters.html" ignoreCase="false" />
          <action type="Redirect" url="/newsletters-nui/" />
        </rule>
        <rule name="22_illustration" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="process_illustration.html" ignoreCase="false" />
          <action type="Redirect" url="/illustration-design/" />
        </rule>
        <rule name="23_branding" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="branding/index.html" ignoreCase="false" />
          <action type="Redirect" url="/branding-design/" />
        </rule>
        <rule name="23_branding_aphton" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="branding/aphton.html" ignoreCase="false" />
          <action type="Redirect" url="/aphton-biopharma-branding-design/" />
        </rule>
        <rule name="24_branding_kcs" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="branding/kcs.html" ignoreCase="false" />
          <action type="Redirect" url="/kcs-energy-branding-design/" />
        </rule>
        <rule name="25_branding_rti" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="branding/rti.html" ignoreCase="false" />
          <action type="Redirect" url="/rti-branding-design/" />
        </rule>
        <rule name="26_branding_marist" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="branding/marist.html" ignoreCase="false" />
          <action type="Redirect" url="/marist-branding-design/" />
        </rule>
        <rule name="27_branding_bcnj" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="branding/bcnj.html" ignoreCase="false" />
          <action type="Redirect" url="/bionj-branding-design/" />
        </rule>
        <rule name="28_events_marist" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="events/marist_campaign.html" ignoreCase="false" />
          <action type="Redirect" url="/marist-capital-campaign-collateral-design/" />
        </rule>
        <rule name="29_events_celgene" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="events/celgene_evt.html" ignoreCase="false" />
          <action type="Redirect" url="/celgene-analyst-and-investor-day-event-graphics/" />
        </rule>
        <rule name="30_events_warnerlambert" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="events/warnerlambert.html" ignoreCase="false" />
          <action type="Redirect" url="/genta-event-graphic-design/" />
        </rule>
        <rule name="31_contact" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="contact.html" ignoreCase="false" />
          <action type="Redirect" url="/contact/" />
        </rule>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="Content.aspx?id={R:1}" />
        </rule>
        <rule name="/" patternSyntax="ExactMatch">
          <match url="default.aspx" />
          <action type="Rewrite" url="/Content.aspx?id=default" />
        </rule>
        <!-- <rule name="" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="" ignoreCase="false" />
                    <action type="Redirect" url="//" />
                </rule> -->
      </rules>
      <outboundRules>
        <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
          <match filterByTags="A, Form, Img" pattern="^(.*/)Content\.aspx\?id=([^=&amp;]+)$" />
          <action type="Rewrite" value="{R:1}{R:2}/" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="Content.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
