body, html { font-family: 'Open Sans', arial, serif; background: #FFF url(/images/background_s1.png) repeat-x scroll left top; margin: 0em auto; font-size: 10pt; }
h1, h2 { font-family: 'Open Sans', arial, serif; font-weight: normal; font-size: 12pt; color: #FF9900; letter-spacing: -0.05em; line-height: 13pt;}
h2{ font-style: italic; font-size: 10pt; }

#cmain { background: #000; background-image: url(/images/medallion-big.jpg); background-position: right bottom; background-repeat: no-repeat; color: #fff;  min-height: 600px;}
.fr_img { float: right; margin-left: 0.25in; margin-bottom: 2em; }

a:link, a:visited { color: #FF9900; }

/* columns */
#topnav  { position: absolute; left: 11%; top: 0; }
#dLeft   { float: left; width: 9%; margin-right: 2%; font-size: 12px; margin-bottom: 140px; }
#dMiddle { float: left; width: 89%; margin-bottom: 5em; }
#copyrow { position: absolute; left: 11%; padding-left: 12px; bottom: 1.5em; }

/* footer */
#copyrow>p { font-size: 8pt; padding-top: 0.05in; text-align: left; }
#copyrow>p>a:link, #copyrow>p>a:visited { color: White; text-decoration: none; }
#copyrow>p>a:hover { color: #FF9900; }
    
/* left navigation */
#m_navleft { margin: 0; padding: 0; }
#m_navleft>li { margin: 1em 0; list-style-type: none; list-style-position: outside; }
#m_navleft>li>a:link,
#m_navleft>li>a:visited { text-decoration: none; color: #666; }
#m_navleft>li>a:hover { color: Green; }
.left-cur-item { color: #FF9900; }

/* homepage-specific styles */ 
#homepagebody  { font-size: 15pt; line-height: 25pt; font-style: italic; }
#homepagebody>a:link, #homepagebody>a:visited { text-decoration: none; color: #FF9900; }
#homepagebody>a:hover { color: #fff; }

#sharebuttons { display: none; }